@import 'src/constants/constants';

.primary-button {
  width: 100%;
  display: flex;
  border: 1px solid $ICON_LOG_IN_COLOR;
  border-radius: 4px;
  padding: 15px 20px;
  outline: none;
  cursor: pointer;
}

.button-name {
  font-size: 20px;
  color: grey;
  margin: auto;
}

.secondary-button {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.disabled-button {
  @extend %disabled;
}
