@import 'src/constants/constants';

.logo-option-container {
  display: flex;

  &__image {
    font-size: 40px;
  }
}

.logo-option-image {
  color: $ICON_LOG_IN_COLOR;
  font-size: 20px;
}

.main-menu__title {
  color: $ICON_LOG_IN_COLOR;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.action-text {
  color: #8a8585;
  font-weight: bold;
  margin-left: 10px;
}

.action-icon {
  cursor: pointer;
  padding: 15px;
}

