@import '../../constants/constants';

.profile-page {
  display: flex;
  flex-direction: column;

  &__button-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__button {
      margin: 30px 0 auto 0;
    }
  }
}
