%page-container {
  width: 100vw;
  height: 100vh;
}

%disabled {
  opacity: .7;
  pointer-events: none;
}

.margin-left {
  display: flex;
  margin-left: 10px;
}
//Log-in page constants

$MAIN_LOG_IN_COLOR: #e3e3e3;
$ICON_LOG_IN_COLOR: #8a8585;
