@import '../../constants/constants';

.blog-page {
  @extend %page-container;
  display: flex;
  background: grey;
}

.blog-page-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  background: white;

  &__main-menu-container {
    width: 300px;
    display: grid;
    grid-template-rows: 90px 800px;
    border-right: 1px solid $ICON_LOG_IN_COLOR;
  }

  &__dashboard {
    display: flex;
    flex-direction: column;
  }

  &__profile-activities {
    display: flex;
    flex-direction: column;
  }
}

.logo-container {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $ICON_LOG_IN_COLOR;
}
