@import '../../constants/constants';

.admin-manager {
  display: flex;
  flex-direction: column;

  &__page {
    @extend %page-container;
  }

  &__container {
    @extend %content-container;
  }

  &__manage-posts {
    display: flex;
    flex-direction: column;
    margin: 40px auto auto auto;
  }

  &__button-container {
    display: flex;
    width: 300px;
    height: 60px;
    margin: 40px auto auto auto;
    border: 1px solid $ICON_LOG_IN_COLOR;
  }

  &__menu {
    @extend %main-menu;
  }

  &__blogs-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
